[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "external/aiwolf-nlp-contests"]
	path = external/aiwolf-nlp-contests
	url = https://github.com/aiwolfdial/aiwolf-nlp-contests.git
